* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 49.99%;
  padding:25px 10px ;
  
}

.row::after {
  content: "";
  clear: both;
  display: table;
  
}
.centerabout{
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.7;
  font-size: 14px;
  
}






